<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Async Inn</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div>
            <h1>Footer</h1>
        </div>
    </footer>
</body>
</html>
