<!DOCTYPE html>
<html >
<head>
    <title>Proof of life!</title>
</head>
<body>
    <main>
        <header>
            <h1>HELLO</h1>
        </header>
    </main>
    <footer>

    </footer>
</body>
</html>