@{

    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Hotel Manager</title>
</head>
<body>
    <main>
        <header>
            <h1>Async Inn Hotel Manager</h1>

        </header>

    </main>
    <footer></footer>
</body>
</html>